# sWAF/NGINX
# 'http' context directives
# Configuration specific to HTTP virtual servers and upstreams


## EXAMPLE: Define simple upstream group.
##
#upstream pool_server {
#    server server1:80;
#    server server2:80;
#}

## EXAMPLE: Define a listener on port 80 which proxify traffic
## to the upstream defined above.
#server {
#    # Configuration of HTTP virtual server 1
#    listen 80;
#    root /var/lib/nginx/html/
#    location / {
#        proxy_pass http://pool_server;
#    }
#    location /one {
#        # Configuration for processing URIs starting with '/one'
#    }
#    location /two {
#        # Configuration for processing URIs starting with '/two'
#    }
#}

server {
    listen 80;
    server_name localhost;

    #charset koi8-r;

    access_log /var/log/nginx/localhost.access.log main;

    location / {
        root /var/lib/nginx/html/;
        index index.html;
    }

    error_page 404 /404.html;
    location = /404.html {
        root /var/lib/nginx/html/;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /var/lib/nginx/html/;
    }
}
